
input
{
  border-radius: 8px;
  background: white;
  padding: 10px 15px;
  border: 1px solid #7D7D7D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  font-size: 12px;
  color: 
  #000000;
}

input::placeholder
{
  color: #7D7D7D;
  font-weight: 300;
  font-size: 13px;
}

input:active, input:hover, input:visited, input:focus, input:disabled, input:checked, textarea:active,  textarea:focus
{
  border: 1px solid #0029DD!important;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
    input
    {
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        padding: 15px;
    }

    input::placeholder
    {
        font-weight: 300;
        font-size: 18px;
    }
}
