
.signInDialog
{
    width: 100%;
    min-height: 75vh;
}

.heading
{
    padding-top: 25px;
    padding-bottom: 20px;
}

.heading h3
{
    font-size: 18px;
    font-weight: SemiBold;
    text-align: center;
}

.heading p
{
    margin-top:5px;
    font-size: 13px;
    color: #7D7D7D;
    text-align: center;
}

.inputGroup
{
    padding: 8px 0;
}

.inputGroup label
{
    font-size: 12px;
    color: #7D7D7D;
}

.inputGroup input
{
    border: 1px solid #7D7D7D;
    color: black;
    font-size: 14px;
    border-radius: 5px;
}

.inputGroup input::placeholder
{
    font-size: 10px;
    color: rgba(125, 125, 125, 0.45);
}

.signInDialog button
{
    width: 100%;
    font-size: 13px;
    padding: 13px;
    font-weight: 400;
}

.divider
{
    width: 100%;
    height: 1px;
    background: black;
    color: black;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider span 
{
    font-size: 13px;
    padding: 0 23px;
    background: white;
}

.bottom button
{
    background: #F2F2F2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom button p
{
    color: black;
    margin-left: 10px;
}

.bottom button img
{
    width: 12px;
    height: 12px;
}

.bottom p
{
    text-align: center;
    font-size: 13px;
}

.bottom p span
{
    text-decoration: underline;
    color: #0029DD;
    cursor: pointer;
}

/* Desktop and Table view */
@media screen and (min-width: 760px) 
{
    .heading h3
    {
        font-size: 28px;
    }

    .heading p
    {
        margin-top:0px;
        font-size: 22px;
    }

    .inputGroup
    {
        padding: 12px 0;
    }

    .inputGroup label
    {
        display: block;
        font-size: 16px;
    }

    .inputGroup input
    {
        margin-top: 5px;
        font-size: 18px;
    }

    .inputGroup input::placeholder
    {
        font-size: 14px;
    }

    .form button
    {
        margin-top: 12px;
    }

    .signInDialog button
    {
        font-size: 20px;
        padding: 16px;
    }

    .divider
    {
        margin: 24px 0px;
    }


    .divider span 
    {
        font-size: 18px;
        padding: 0 26px;
    }

    .bottom button p
    {
        font-size: 18px;
    }

    .bottom button img
    {
        width: 24px;
        height: 24px;
    }

    .bottom p
    {
        font-size: 18px;
    }
}