.successAlert
{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 7px 0;
}

.successAlert p 
{
    font-size: 13px;
    text-align: center;
    color: #4BB543!important;
}

.successAlert img
{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
    .successAlert p
    {
        font-size: 17px;
    }

    .successAlert img
    {
        width: 20px;
        height: 20px;
    }
}