.searchOptions
{
    display: grid;
    grid-template-columns: repeat(3, 105px);
    column-gap: 15px;
    row-gap: 15px;
}

.searchSelect select
{
    width: 100%;
}

.searchOptions select:checked 
{
    display: none;
}

@media screen and (min-width: 760px) 
{
    .searchOptions
    {
        grid-template-columns: repeat(5, 180px);
        column-gap: 24px;
    }

    
}