.searchOptions
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.searchOptions .searchSelect
{
    margin: 8px 20px 8px 0;
}

.searchOptions select
{
    background: #F5F7FF;
}

@media screen and (min-width: 760px) 
{
    .searchOptions
    {
        flex-wrap: nowrap;
    }
    .searchOptions .searchSelect
    {
        margin: 8px 24px 8px 0px;
    }
    
}