.idealRoommateForm
{
    padding: 24px 0;
}

form.idealRoommateForm > div
{
    margin-bottom: 16px!important;
}

.idealRoommateForm p, label
{
    color: black;
}

.idealRoommateForm p
{
    font-weight: bold;
    font-size: 11px;
}

.idealRoommateForm button img
{
    margin: 0px 6px 0px 0px;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
    .idealRoommateForm p
    {
        font-size: 16px;
    } 

}