.searchButton form
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    width: 100%;
}

.searchButton input
{
    padding: 16px;
    width: 72%;
}

.searchButton button
{
    padding: 18.2px;
    margin-left: -10px;
    width: 28%;
    /* max-width: 95px;  */
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{

.searchButton input
{
    padding: 18px;
}

.searchButton button
{
    padding: 19px;
    margin-left: -10px;
    max-width:176px;
}

}