.activateEmail
{
    background-color: #F5F7FF;
}

.body
{ 
    width: 100%;
    max-width: 871px;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
}


.activateEmail .content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activateEmail .content .success, .activateEmail .content .error
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activateEmail .content .success p, .activateEmail .content .error p
{
    max-width: 500px;

}


.activateEmail .content img 
{
    padding-top: 25px;
    margin-bottom: 30px;
}

.activateEmail .content h1
{
    font-family: "Open Sans";
    font-weight: bold;
    color: #000E4A;
    text-align: center;
    font-size: 18px;
    margin-bottom: 12px;
}

.activateEmail .content .error h1
{
   color: #ED1E2E;
}

.activateEmail .content p
{
    color: #000E4A;
    text-align: center;
    margin-bottom: 18px;
}

.activateEmail .content a
{
    width: 100%;
} 

.activateEmail .content button
{
    font-weight: bold;
    padding: 15px 37px;
    width: 100%;
}

.buttonGroup
{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.buttonGroup a:last-child button
{
    background-color: white;
    color: #0029DD;
    border: 1px solid #0029DD;
}


/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{

    .body
    { 
       padding-top: 0px;
    }


    .activateEmail .content img 
    {
        padding-top: 0px;
        margin-bottom: 36px;
    }

    .activateEmail .content h1
    {
        font-size: 28px;
        margin-bottom: 18px;
    }

    .activateEmail .content p
    {
        font-size: 20px;
        margin-bottom: 36px;
    }

    .activateEmail .content button
    {
        font-size: 20px;
        padding: 18px 100px;
    }

    .buttonGroup
    {
        gap: 18px;
    }
}