button
{
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-overflow: none;
  cursor: pointer;
  width: 100%;
  background: #0029DD;
}

button:disabled
{
  background: #6682FF;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
  button
  {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 400;
  }
}