.content h2
{
    font-family: "Open Sans";
    color: black;
    font-size: 14px;
    margin-bottom: 7.5px;
}

.listBoxContainer
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}



@media screen and (min-width: 760px) 
{
    .content h2
    {
        font-size: 24px;
        margin-bottom: 24px;
    }
/* 
    .listBoxContainer
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
    } */


}