*
{
    box-sizing: border-box;
}

.displayCards
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.displayCards > *
{
    width: 100%;
    margin: 12px 0;
}

.topSection p
{
    font-weight: bold;
    margin: 4px 0;
}

.bottom
{
    padding: 32px 0;
    text-align: center;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
    .displayCards
    {
        justify-content: space-between;
    }   

    .displayCards > *
    {
        width: 32.5%;
        max-width: 390px;
        margin: 12px 0;
    }

    .topSection p
    {
        margin: 22px 0;
    }

    .bottom
    {
        text-align: right;
        padding-top: 51px;
        padding-bottom: 0px;
    }
    
}
