.dropdownContainer
{
    display: relative;
}   

.dropdownButton 
{
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.dropdownButton span
{
    color: #000E4A;
    font-weight: 600;
}

.dropdownButton .profileImage
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdownButton .dropdownIcon, .dropdownButton .pullupIcon
{
    cursor: pointer;
}

.dropdownMenu
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 11px 16px;
    /* position: absolute; */
    top: calc(100% - 5px);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-15px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    row-gap: 10px;
}

.dropdownIcon
{
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

.dropdownIcon.activeIcon
{
    transform: rotate(180deg);
}

.dropdownMenu.active
{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.dropdownMenu a, .dropdownMenu span 
{
    cursor: pointer;
    padding: 4px 0 4px 0;
}

.dropdownMenu a 
{
    color: #000E4A;
}

.dropdownMenu span 
{
    display:flex;
    align-items: center;
    gap: 8px;
}

.dropdownMenu span span
{
    color: #F42E2B;
    text-decoration: underline;
}



.whiteBg
{
    background-color: white;
}

.transparentBg
{
    background-color: transparent;
}

@media screen and (min-width: 760px) 
{
 
    .dropdownMenu
    {
        position: absolute;
        top: calc(100% - 15px);
        box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.25);
    }
    
}
