
  .headerContainer
  {
    position: relative;
    min-height: 59px;
    height: auto;
  }

.header
{
  width: 100%;
  padding: 17.5px 20px;
  display: flex;
  justify-content: space-between;
  position:fixed;
  z-index: 999;
  /* transition: 0.3s; */
}

.headerStyles {
  background-color: white;
  box-shadow: 0px 2px 10px rgba(125, 125, 125, 0.2);
}

.logo img
{
  height: 20px;
  width: auto;
}

.header a
{
  color: #7D7D7D;
}

.desktopNav
{
  display: none;
}

.mobileOnlyLinks
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  border-top: 0.5px solid rgba(125, 125, 125, 0.45);
  border-bottom: 0.5px solid rgba(125, 125, 125, 0.45);
  width: 100%;;
}

.mobileNav
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNav .hamburger
{
  width: 15px;
  height: 1.5px;
  background: #0029DD;
  border-radius: 25px;
  transition: all .5s ease-in-out;
}

.mobileNav .hamburger::before, .mobileNav .hamburger::after
{
  position: absolute;
  content: "";
  width: 15px;
  height: 1.5px;
  background: #0029DD;
  border-radius: 25px;
  transition: all .5s ease-in-out;
}

.mobileNav .hamburger::before
{
  transform: translateY(-5px);
}

.mobileNav .hamburger::after
{
  transform: translateY(5px);
}


/* Mobile menu navigation animation*/
.mobileNav.open .hamburger
{
  transform: translateX(-50px);
  background: transparent;
}

.mobileNav.open .hamburger::before
{
  transform: rotate(45deg) translate(35px, -35px);
}

.mobileNav.open .hamburger::after
{
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Mobile menu modal */
.mobileMenuModal .mobileLinks 
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.mobileMenuModal .logoutLink 
{
  width: 100%;
  border-top: 0.5px solid rgba(125, 125, 125, 0.45);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0 6px 0;
}

.headerProfile
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.headerProfile img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.headerProfile span
{
  width: min-content;
}

.headerProfile span a
{
  color: rgba(0, 41, 221, 0.75);
  font-size: 14px;
  text-decoration: underline;
}

.headerProfile span p a
{
  color: #000E4A;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.headerProfile span p:hover
{
  text-decoration: underline;
}


.logoutLink span
{
    color: #0029DD;
    text-decoration: underline;
}

.logoutLink img 
{
    height: 14px;
    width: auto;
    margin-right: 8.5px;
}




@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media screen and (min-width: 760px) 
{
  .headerContainer
  {
    min-height: 100px;
  }
  
  .header
  {
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    margin: none;
  }
  
  .header a
  {
    color: #7D7D7D;
    width: 100%;
  }
  
  .logo img
  {
    height: 40px;
    width: auto;
  }

  .mobileNav
  {
    display: none;
  }

  .desktopNav
  {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .desktopNav > *
  {
    white-space: nowrap;
  }

  .headerProfile
  {
    gap: 10px;
  }

  .headerProfile img
  {
    width: 40px;
    height: 40px;
  }

  .headerProfile span p
  {
    font-size: 16px;
  }

  .headerProfile span a
  {
    font-size: 14px;
  }

}