.comingSoon
{
  background: #F5F7FF; 
  min-height: 100vh;
}

.comingSoonHero
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('../../../images/launching-soon.svg');
  background-repeat: no-repeat, repeat;
  background-position: center; 
}

.text
{
  position: relative;
  margin: auto 0;
}

.text p
{
  font-size:16px;
  color:#000000;
  font-weight: 400;
  text-align: center;
}

.text h1
{
  text-align: center;
}

.text .heading-bg-mobile
{
  width: 290px;
  height: auto;
  z-index: -10;
  position: absolute;
  top: -13px;
  left: 5px;
}

.text .heading-bg-desktop
{
  display: none;
}

.comingSoonBody .image
{
  width: 100vw;
}

.comingSoonBody .launchingSoonImage img
{
  width: 155px;
  height: auto;
}

.comingSoonForm
{
  padding: 50px 0;
}

.comingSoonForm p
{
  color: #7D7D7D;
}

.comingSoonForm form
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.comingSoonForm form input
{
  margin: 7.5px 0px;
}
.comingSoonForm form button
{
  margin-top: 7.5px;
}


/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
  .comingSoonBody
  {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 40px;
  }

  .comingSoonBody > div
  {
    width: 50%;
  }

  .comingSoonHero
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
    background-image: none;
  }
  
  .launchingSoonImage
  {
    flex-grow: 1;
    margin-left: 10%;
  }

  .comingSoonForm
  {
    padding: 27px 0 20px 0;
  }
  
  /* Use atoms for this */
  .comingSoonBody .launchingSoonImage img
  {
    width: 420px;
    height: auto;
  }

  .text p
  {
    font-size:22px;
    text-align: left;
    width: 80%;
  }

  .text h1
  {
    text-align: left;
  }

  .comingSoonForm form input
  {
    margin: 0;
    margin: 10px 0px;
  }

  .comingSoonForm form button
  {
    margin-top: 10px;
  }

}