.imageTitle
{
    display: flex;
    /* gap: 5px; */
    align-items: center;
}

.imageTitle p
{
    font-size: 10.83px;
    margin-left: 5px;
    color: #00082C;
}

.cardDescription
{
    margin: 8px 0;
}

.cardDescription p
{
    font-size: 14px;
    font-weight: 600;
}

.cardDescription p a
{
    text-decoration: underline;
    color: #0029DD;
    opacity: 70%;
    font-weight: 400;
    margin-left: 2px;
}

.card
{
    /* border: 1px solid black; */
    border-radius: 16px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.card .top
{
    margin: 0;
    padding: 0;
    border-radius: 16px 16px 0px 0px;
    background: transparent;
}

.card .bottom
{
    padding: 16px 26px 30px 26px;
    border-radius: 0px 0px 16px 16px;
    /* border: 1px solid red; */
    margin: 0;
}

.card button
{
    background: white;
    border: 0.6px solid #0029DD;
    color: #0029DD;
    font-size: 12px;
    padding: 12px 37px;
    font-weight: 600;
    margin: 0;
}

@media screen and (min-width: 760px) 
{
    .cardDescription
    {
        margin: 16px 0px;
    }
    .cardDescription p
    {
        font-size: 16.25px;
    }

    .card button
    {
        float:left;
    }
    
    .card .bottom
    {
        padding: 16px 26px 90px 26px;
    }
}