.body
{
  padding: 70px 15px 10px 15px;
}

.desktopOnly
{
  display: none;
}

.mobileOnly
{
  display: inherit;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
  .body
  {
    padding: 70px 6.5%;
  }

  .desktopOnly
  {
    display: inherit;
  }

  .mobileOnly
  {
    display: none;
  }
}