.body
{
  padding: 70px 15px 10px 15px;
}

.desktopOnly
{
  display: none;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
  .body
  {
    padding: 70px 9.5%;
  }

  .desktopOnly
  {
    display: inherit;
  }
}