.personalProfile
{
    max-width: 90vw;
    margin: 0 auto;
    padding: 50px 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.25);
}

.personalProfile h1
{
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans';
    margin-bottom: 7px;
}

.personalProfile .formGroup
{
    margin: 12px 0px;
}

.personalProfile .formGroup input, textarea
{
    margin-top: 5px;
}

.personalProfile .formGroup input::placeholder, select::placeholder
{
    font-size: 10px;
    color: rgba(125, 125, 125, 0.45);

}

.personalProfile .formGroup select
{
    margin-top: 5px;
    display: block;
    width: 100%;
}

.formNavigation
{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
}

.formNavigation::before
{
    content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
    overflow: hidden;
    color: black;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.formNavigation .singleNav
{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0;
    justify-content: center;
    align-items: center;
    max-width: 96px;
}

.formNavigation .singleNav span.number
{
    font-size: 13px;
    padding: 3.2px 8.28733px;
    border: 1px solid #7D7D7D;
    border-radius: 50%;
    font-weight: 600;
}

.formNavigation .singleNav span.text
{
    font-size: 12px;
    font-weight: 600;
}

/* For the visited form navigation */
.formNavigation .visited span.number
{
    color: white;
    background-color: #0029DD;
    border: 1px solid #0029DD;
}

.formNavigation .visited .text
{
    color: #0029DD;
}

/* For the visited form navigation */
.formNavigation .active span.number
{
    color: #0029DD;
    background: white;
    border: 1px solid #0029DD;
}

.formNavigation .active .text
{
    color: #0029DD;
}

/* For the not visited form navigation */
.formNavigation .notVisited span.number
{
    color: #7D7D7D;
    background: white;
    border: 1px solid #7D7D7D;
}

.formNavigation .notVisited .text
{
    color: #7D7D7D;
}

.form 
{
    height: auto;
}
.form button
{
    /* float:right; */
    padding: 13px 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.form button img
{
    margin-left: 6px;
}

.form label 
{
    font-size: 12px;
    color: #7D7D7D;
}

.radioInputClass
{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    align-items: center;
    padding-left: 13px;
}

.radioInputClass input[type="radio"]
{
    width: fit-content;
    margin-right: 8px;
    padding: 0;

}

.buttonRow
{   
    display: flex;
    justify-content: space-between;
}

.buttonRow button
{   
   font-weight: 600;
   padding: 13px 35px;
}

.prevButton button
{
    background: white;
    color: #0029DD;
    border: 1px solid #0029DD;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
    .personalProfileContainer
    {
        padding-bottom: 50px;
    }
    .personalProfile
    {
        max-width: 45.5vw;
        margin: 0 auto;
        padding: 50px 94px;
        margin-top: 24px;
        height: max-content;
    }

    .personalProfile h1
    {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .personalProfile .formGroup
    {
        margin: 16px 0px;
    }

    .form label 
    {
        font-size: 16px;
        color: #7D7D7D;
    }

    .personalProfile .formGroup input::placeholder, select::placeholder
    {
        font-size: 16px;
        line-height: 16px;
        color: rgba(125, 125, 125, 0.45);
    }

    .personalProfile .formGroup input, select
    {
        font-size: 16px;
    }

    .personalProfile .formGroup select
    {
        font-size: 16px;
    }
    
    .buttonRow button
    {   
        padding: 19px 52px;
    }
}