.dashboardBody
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F5F7FF;
    min-height: 87vh;
}

.sidebarContainer
{
    display: none;
}

.mainContent
{
    width: 100%;
}

.mainContent .welcomePanel 
{
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 43px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.mainContent .welcomePanel .welcomeMessage
{
    display: flex;
    align-items: center;
}

.mainContent .welcomePanel .welcomeMessage img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 8px;
}

.mainContent .welcomePanel .welcomeMessage p:first-child
{
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.mainContent .welcomePanel .welcomeMessage p:last-child
{
    font-size: 11px;
    font-weight: 400;
    color: black;
}

.mainContent .welcomePanel .notification
{
    width: 24px;
    height: 24px;
    background-color: #F5F7FF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent .welcomePanel .notification img
{
    width: 6.7px;
    height: auto;
}

.dashboardCards
{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.dashboardCards .card
{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 40px 24px 40px;
    border-radius: 8px;
    background: white;
    max-width: 118px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 0 12px;
}

.dashboardCards .card:first-child a
{
    margin-left: 0px;
}

.dashboardCards .card:last-child a
{
    margin-right: 0px;
}

.dashboardBody .card p
{
    text-align: center;   
    font-size: 11px;
    line-height: 11px;
    margin-top: 14px;
    margin-bottom: 16px;
    color: #000E4A;
}

.dashboardBody .card p:last-child
{
    font-weight: bold;
    color: #0029DD;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dashboardBody .card .img
{
    background: #F5F7FF;
    border-radius: 50%;
}

.dashboardBody .card:first-child .img img
{
    width: 15px;
    height: auto;
}

.dashboardBody .card:first-child .img , .card:nth-child(2) .img
{
    padding: 16.546px 20px;
}

.dashboardBody .card:nth-child(3) .img
{
    padding: 28px 28px;
}

.dashboardBody .card:nth-child(4) .img
{
    padding: 28px 31px;
}

.dashboardCards .active
{
    background-color: #0029DD;
}

.dashboardCards .active p
{
    color: white;
}

.dashboardCards .active p:last-child
{
    color: white;
}


.dashboardCards .active .img
{
    background-color: rgba(255, 255, 255, 0.35);
}

.content 
{
    padding: 37px 0px;
}

@media screen and (min-width: 760px) 
{
    .dashboardBody
    {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #F5F7FF;
        min-height: 87vh;
    }

    .dashboardContainer
    {
        display: flex;
        gap: 45px;
    }

    .sidebarContainer
    {
        display: block;
        position: sticky;
        width: 292px;
    }

    .sidebar
    {
        
        border-radius: 8px;
        position: fixed;
    }

    .sidebar .image 
    {
        position: relative;
        height: auto;
        padding: 0;
        margin: 0;
        border-bottom-right-radius:0px;
        border-bottom-left-radius:0px;
    }

    .sidebar .image img
    {
        height: 250px;
        width: 100%;
        border-bottom-right-radius:0px;
        border-bottom-left-radius:0px;
    }

    .sidebar .image .overlay
    {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 41, 221, 0.3);;
        top: 0;
        border-radius: 8px 8px 0px 0px;
    }

    .sidebar .links 
    {
        margin-top: 0;
        background: white;
        padding: 12px 36px 24px 32px;
    }

    .sidebar .links ul 
    {
        list-style: none;
    }

    .sidebar .links li 
    {
        padding: 12px 0;
    }


    .sidebar .links ul li a
    {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        align-items: center;
    }

    .sidebar .links ul li.active a .text
    {
        color: #0029DD;
    }

    .sidebar .links ul li .icon img
    {
        height: 20px;
        width: auto;
        color: #7D7D7D;
    }

    .sidebar .links ul li .text
    {
        color: #7D7D7D;
    }

    .sidebar .logout
    {
        margin-top: 44px;
    }

    .sidebar .logout a
    {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .mainContent
    {
        width: 100%;
        max-width: 62.5vw;
    }

    .mainContent .welcomePanel
    {
        border-radius: 8px;
        padding: 32px 40px;
        margin-bottom: 48px;
    }

    .mainContent .welcomePanel .welcomeMessage img
    {
        display: none;
    }

    .mainContent .welcomePanel .welcomeMessage p:first-child
    {
        font-size: 24px;
    }

    .mainContent .welcomePanel .welcomeMessage p:last-child
    {
        font-size: 20px;
    }

    .mainContent .welcomePanel .notification
    {
        width: 71px;
        height: 71px;
    }

    .mainContent .welcomePanel .notification img
    {
        width: 24px;
        height: auto;
    }

    .dashboardCards
    {
        overflow: hidden;
    }

    .dashboardCards .card
    {
        padding: 16px 40px 24px 40px;
        max-width: 189px;
    }

    .dashboardBody .card p
    {
        font-size: 20px;
        line-height: 27px;
        margin-top: 24px;
        margin-bottom: 20px;
    }

    .dashboardBody .card p:last-child
    {
        font-size: 32px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .dashboardBody .card:first-child .img , .card:nth-child(2) .img
    {
        padding: 28px 30px;
    }

    .dashboardBody .card:first-child .img , .card:nth-child(3) .img
    {
        padding: 28px 28px;
    }

    .dashboardBody .card:first-child .img , .card:nth-child(4) .img
    {
        padding: 28px 31px;
    }

    .content 
    {
        padding: 37px 0px;
    }
}