
    .listBox
    {
        border-radius: 8px;
        padding: 11px 10px 11px 3px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .openedListBox
    {
        background: #FFFFFF;
    }

    .unopenedListBox
    {
        background: #F5F7FF;
    }

    .listBox .information
    {
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    
    .listBox .information .infoAndImage
    {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
    }

    .listBox .information .infoAndImage img
    {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .listBox .information .infoAndImage .nameAndTime
    {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }

    .listBox .information .infoAndImage .name
    {
       font-size: 12px;
       font-weight: 600;
       color: black;
    }

    .listBox .information .infoAndImage .description
    {
        font-size: 10px;
        color: #000000;;
    }

    .listBox .information .infoAndImage .description a
    {
        text-decoration: underline;
        color: rgba(0, 41, 221, 0.7);;
        margin-left: 10px;
    }

    .listBox .information .time
    {
        color: #7D7D7D;
        font-size: 10px;
    }
    
@media screen and (min-width: 760px) 
{

    .listBox
    {
        padding: 20px 24px;
    }

    /* .listBox .information
    {
        display: flex;
    } */

    .listBox .information .infoAndImage
    {
        gap: 16px;
    }

    .listBox .information .infoAndImage img
    {
        width: 40px;
        height: 40px;
    }

    .listBox .information .infoAndImage .name
    {
       font-size: 20px;
    }

    .listBox .information .infoAndImage .description
    {
        font-size: 16px;
    }

    .listBox .information .time
    {
        font-size: 14px;
    }

}