.displaySearchTags
{
    display: flex;
    flex-direction: row;
}

.displaySearchTags div
{
    margin-right: 8px;
}

@media screen and (min-width: 760px) 
{
    .displaySearchTags p
    {
        margin-right: 20px;
    }
}