.imageTextRow
{
    display:flex;
    gap: 10%;
    flex-wrap: wrap;
}

.imageFirst
{
  flex-direction: row-reverse;
}

.textFirst
{
  flex-direction: row;
}

.img 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* .img img
{
  width: 80vw;
  height: auto;
  margin: 0 auto;
} */

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
  .imageTextRow
  {
      flex-wrap: nowrap;
  }

  .imageTextRow .textButtonGroup 
  {
    width:50%;
  }
  
  .imageTextRow .img
  {
    /* width: 200px; */
    width: clamp(250px, 50%, 50%);
  }

  .imageTextRow .img img
  {
    max-width: 100%;
    width: auto;
  }
}