.imageTextRow
{
    display:flex;
    gap: 10%;
    flex-wrap: wrap;
}

.imageFirst
{
  flex-direction: row-reverse;
}

.textFirst
{
  flex-direction: row;
}

.img 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.img img
{
  width: 80vw;
  height: auto;
  margin: 0 auto;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
  .imageTextRow
  {
      flex-wrap: nowrap;
  }
  .imageTextRow > * 
  {
    width:50%;
  }
}