.viewMoreRequests h2
{
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: 'Open Sans';
}

.searchBar
{
    margin-top: 16px;
    margin-bottom: 8px;
}

.viewMoreRequestBody
{
    padding-top: 20px;
    min-height: 73vh;
}

@media screen and (min-width: 760px) 
{
    .viewMoreRequests h2
    {
        font-size: 48px;
        font-weight: bold;
    }

    .searchBar
    {
        max-width: 692px;
        margin-top: 24px;
        margin-bottom: 16px;
    }

}