@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* Universals - Mobile */
/* :root
{
    --dark-color : #000000;
    --blue-color: #0029DD;
}
)*/

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a
{
  text-decoration: none;
}

/* Button Loading Animation */

.isLoading
{
    cursor: wait;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #0029DD!important;
    color: white!important;
}

.isLoading::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: repeating-linear-gradient(
            60deg,
            transparent,
            transparent .75rem,
            #1540fd .75rem,
            #1540fd 1.5rem);
    animation: load 1s infinite linear;
    z-index: -1;
}


.isLoading button span
{
    position: relative;
}

/* Loading button animation */

@keyframes load{
    0%{
        transform: translateX(0)
    }

    100%{
        transform: translateX(1.75rem);
    }
}

.ml-auto
{
  margin-left: auto;
}

.mr-auto
{
  margin-right: auto;
}

/*
h1,h2, h3
{
  font-family: 'Syne';
  color: var(--blue-color);
}

h1
{
  color: var(--blue-color);
}

input, textarea
{
  border-radius: 5px;
  background: white;
  padding: 10px 15px;
  border: 1px solid #7D7D7D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
}

input::placeholder, textarea::placeholder
{
  font-weight: 300;
  font-size: 13px;
}

input:active, input:hover, input:visited, input:focus, input:disabled, input:checked, textarea:active,  textarea:focus
{
  background: white;
  border: 1px solid #0029DD!important;
}

label
{
  font-size: 12px;
  color: #7D7D7D;
  margin-bottom: 5px;
  text-align: left;
}

.icon
{
  width: 13px;
  margin: 0px 8px;
}

.text-light
{
  color: #7D7D7D;
}


p
.gray
{
  color: #7D7D7D;
}

.blue
{
  color: #0029DD;
}

.italics
{
  font-style: italic;
}

.no-border
{
  border: 0px;
}

.desktop-only
{
  display: none!important;
}



.coming-soon-success-message .heading-text
{
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.coming-soon-success-message p
{
  font-size: 12px;
  font-weight: 400;
  color:#7D7D7D;
  margin: 0;
} */


/* Login page and Sign Up page- Mobile */

.auth .auth-headers
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px 50px;
  flex: 1;
  text-align: center;
}

.auth .auth-headers h1
{
  font-family: 'Open Sans';
  font-size: 18px;
}

.auth .forgot-password
{
  opacity: 75%;
  font-size: 11px;
}

.auth .additionals
{
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.auth .additionals span
{
  margin: 5px 0px;
  font-size: 13px;
}

.auth .additionals .alternative-login
{
  display: flex;
  align-items: center;
  gap: 7px;
}

.auth .additionals .auth-link
{
  color: var(--blue-color);
  text-decoration: underline;
}

.auth .additionals .divider
{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
}

.auth .additionals .divider span 
{ 
  background:#fff; 
  padding:0 25px; 
}

.auth .auth-body form span.passwordInput
{
  display: flex;
  flex-direction: row;
}

.auth .auth-body form span.passwordInput img
{
  margin-left: -27px;
  cursor: pointer;
}

.auth .auth-body .mobile-only-additionals
{
  display:flex;
}

.auth .auth-body .desktop-only-additionals
{
  display:none;
}
.auth-body {
  display: block;
  margin: 0 auto;
  width: 90%;
}

/* Tablet and Desktop view */
@media screen and (min-width: 760px) 
{
  

  input, textarea
  {
    font-size: 18px;
    font-weight: 300;
    width: 100%;
  }

  input::placeholder, textarea::placeholder
  {
    font-weight: 300;
    font-size: 18px;
  }

  label
  {
    font-size: 16px;
  }
  
  .icon
  {
    width: 15px;
    margin: 0px 8px;
  }
  
  .coming-soon-success-message .heading-text
  {
    font-size: 27px;
  }
  
  .coming-soon-success-message p
  {
    font-size: 24px;
  }
   
  /* Contact page - Desktop */
 

  /* Login and Sign Up pages - Desktop */

  .auth .auth-headers h1
  {
    font-size: 28px;
  }
  .auth {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow-y: hidden;
  }
  .additionals {
    display: none;
  }
 

  .auth .auth-headers p
  {
    font-family: 'Open Sans';
    font-size: 22px;
  }

  .auth .auth-headers img
  {
    height: 200px;
    margin: 40px 0;
  }

  .auth .auth-body .mobile-only-additionals
  {
    display:none;
  }
  .auth .additionals {
    display: flex;
  }

  .auth .auth-body .desktop-only-additionals
  {
    display:flex;
    display: block;
  }

  .auth .additionals
  {
    min-width: 30vw;
  }

  .auth .additionals span
  {
    font-size: 18px;
    margin: 10px 0;
  }

  .auth .additionals .alternative-login 
  {
    height: 100%;
    max-height: 18px;
    margin: 5px 0px;
  }

  .auth .additionals .alternative-login img
  {
    width: 30px;
    margin: 5px 20px;
  }

  .auth .additionals .divider
  {
  margin-bottom: 35px; 
  }


  .auth .auth-body .auth-form-fields
  {
    width: 100%;
  }

  .auth .forgot-password
  {
    opacity: 75%;
    font-size: 18px;
  }

  /* Login page */
  .login-body
  {
    flex-direction: row-reverse;
  }
  .auth-body {
    width: 55%;
  }

  /* Sign Up page */
  .sign-up-headers p
  {
    width: 100%;
    max-width: 400px;
  }
}

